body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    border: solid 1px black;
}

.box {
    flex: 1;
    outline: 1px solid black;
    aspect-ratio: 1 / 1;
}